<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-warning">
    <ul class="mb-0">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= @user %></li>
      <% end %>
    </ul>
  </div>
<% end %>